{% extends 'base.html' %}
{% load static %}
{% load thirdHabit_filter %}
{% block content %}
<div class="container my-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'habit:index' %}">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'thirdHabit:index' %}">습관 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 6</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 7</a>
        </li>
    </ul>
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 미션 -->
    <h2 class="border-bottom py-2">{{ thirdHabit.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="mb-3">
                <div id="form-container0">
                    <ul class="list-group mb-3">
                        {% for form in formset %}
                            <li class="list-group-item">{{ form.content.value|default_if_none:'' }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <div id="form-container1">
                    {% for form in formset %}
                        {% with item=form.instance %}
                        {% with item_index=forloop.counter0 %}
                            <div id="item-container-{{ item_index }}" class="container">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="card" style="width: 18rem;height: 10rem;">
                                            <div id="item-{{ item_index }}-content"  class="card-body">
                                                {{ form.content.value|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div id="form-container1-{{ forloop.counter0 }}">
                                            <ul class="list-group mb-3">
                                                {% with detail_formset=detail_formsets|get_item:item.id %}
                                                    {% for detail_form in detail_formset %}
                                                        <li class="list-group-item">{{ detail_form.content.value|default_if_none:'' }}</li>
                                                    {% endfor %}
                                                {% endwith %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="mb-3">
                <div id="form-container2">
                    {% for form in formset %}
                        {% with item=form.instance %}
                        {% with item_index=forloop.counter0 %}
                        {% with detail_formset=detail_formsets|get_item:item_index %}
                        {% with detailItem_index=forloop.counter0 %}
                        {% for detail_form in detail_formset %}
                            {% with detailItem=detail_form.instance %}
                            {% with detailItem_index=forloop.counter0 %}
                                <div class="card-body">
                                    <div id="form-container2-{{ item_index }}-{{ detailItem_index }}">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">할일</th>
                                                    <th scope="col">시작시간</th>
                                                    <th scope="col">종료시간</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% with detailTime_formsets_by_item=detailTime_formsets|get_item:item_index %}
                                                    {% with detailTime_formset=detailTime_formsets_by_item|get_item:detailItem_index %}
                                                        {{ detailTime_formset.management_form }}
                                                        {% if detailTime_formset|length > 0 %}
                                                            {% for detailTime_form in detailTime_formset %}
                                                                <tr>
                                                                    <th scope="row">{{ item_index }}</th>
                                                                    <td>{{ detail_form.content.value|default_if_none:'' }}</td>
                                                                    <td>
                                                                        <div class="input-group mb-3">
                                                                            {% if detailTime_form.end_day.value == "MON" %}월요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "TUE" %}화요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "WED" %}수요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "THU" %}목요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "FRI" %}금요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "SAT" %}토요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "SUN" %}일요일{% endif %}
                                                                            {{ detailTime_form.start_time.value|smart_time }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group mb-3">
                                                                            {% if detailTime_form.end_day.value == "MON" %}월요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "TUE" %}화요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "WED" %}수요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "THU" %}목요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "FRI" %}금요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "SAT" %}토요일{% endif %}
                                                                            {% if detailTime_form.end_day.value == "SUN" %}일요일{% endif %}
                                                                            {{ detailTime_form.end_time.value|smart_time }}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endwith %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="card-text">{{ thirdHabit.content|safe }}</div>
            <div class="d-flex justify-content-end">
                {% if thirdHabit.update_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ thirdHabit.update_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ thirdHabit.author.username }}</div>
                    <div>{{ thirdHabit.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                {% if thirdHabit.file.count > 0 %}
                <ul class="list-group">
                    {% for file in thirdHabit.file.all %}
                        <li class="list-group-item">
                            <a href="{% url 'common:download_file' file.id %}" class="text-decoration-none">
                                <img src="{% static 'bootstrap/icon/download.svg' %}" alt="Download SVG">
                            </a>
                            {{ file.name }}
                            <span class="text-danger small mx-2">{{ file.file.size|div:1024|div:1024|floatformat:2 }}MB</span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{% url 'thirdHabit:vote' thirdHabit.id %}" class="recommend btn btn-sm btn-outline-secondary">
                    추천
                    <span class="badge rounded-pill bg-success">{{ thirdHabit.voter.count }}</span>
                </a>
                {% if request.user == thirdHabit.author %}
                <a href="{% url 'thirdHabit:modify' thirdHabit.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'thirdHabit:delete' thirdHabit.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 실천내용 -->
    <h5 class="border-bottom my-3 py-2">{{ thirdHabit.thirdhabitdetail_set|filter_useYn:'Y'|length }}개의 실천이 있습니다.</h5>
    {% for thirdhabitdetail in thirdHabit.thirdhabitdetail_set|filter_useYn:'Y' %}
    <a id="thirdhabitdetail_{{ thirdhabitdetail.id }}"></a>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ thirdhabitdetail.content|safe }}</div>
            <div class="d-flex justify-content-end">
                {% if thirdhabitdetail.update_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ thirdhabitdetail.update_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ thirdhabitdetail.author.username }}</div>
                    <div>{{ thirdhabitdetail.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{% url 'thirdHabit:detail_vote' thirdhabitdetail.id %}" class="recommend btn btn-sm btn-outline-secondary">
                    추천
                    <span class="badge rounded-pill bg-success">{{ thirdhabitdetail.voter.count }}</span>
                </a>
                {% if request.user == thirdhabitdetail.author %}
                <a href="{% url 'thirdHabit:detail_modify' thirdhabitdetail.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'thirdHabit:detail_delete' thirdhabitdetail.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'thirdHabit:detail_create' thirdHabit.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="content" class="form-label">실천내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="실천등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    tinymce.init({
        license_key: 'gpl',
        selector:'#content',
        height: '500px',
        menubar: false,
        statusbar: false,
        paste_data_images: true,
        plugins: 'image link code lists',
        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor| fontsizeselect | link | alignleft aligncenter alignright alignjustify | numlist bullist table outdent indent | image',
        images_upload_url: '/common/temp_upload_image/',  // Django의 이미지 업로드 API URL
        convert_urls: false,
        automatic_uploads: true,
    });

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(confirm("정말로 삭제하시겠습니까?")){
                location.href = this.dataset.uri;
            }
        });
    });

    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(confirm("정말로 추천하시겠습니까?")){
                location.href = this.dataset.uri
            }
        });
    });
</script>
{% endblock %}