{% extends 'base.html' %}
{% load static %}
{% load thirdHabit_filter %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'habit:index' %}">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'thirdHabit:index' %}">습관 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 6</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">습관 7</a>
        </li>
    </ul>
    <h5 class="my-3 border-bottom pb-2">습관등록</h5>
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "form_errors.html" %}
        {% include "formset_errors.html" %}
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        {% if request.user.is_staff %}
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="notice_yn" id="notice_yn" {% if form.notice_yn.value %}checked{% endif %}>
                <label class="form-check-label" for="notice_yn">공지여부</label>
            </div>
        </div>
        {% endif %}
        <div class="mb-3">
            {{ formset.management_form }}
            <div id="form-container0">
                <ul class="list-group mb-3">
                    {% for form in formset %}
                        <li class="list-group-item" style="display: flex;">
                            <input type="hidden" id="{{ form.id.id_for_label }}" name="{{ form.id.html_name }}" value="{{ form.id.value|default_if_none:'' }}">
                            <input type="hidden" id="id_item-{{ forloop.counter0 }}-use_yn" name="item-{{ forloop.counter0 }}-use_yn" value="Y">
                            <input type="text" id="id_item-{{ forloop.counter0 }}-content" name="item-{{ forloop.counter0 }}-content" class="form-control" placeholder="예: 개인" style="flex: 1;"  value="{{ form.content.value|default_if_none:'' }}">
                            <button type="button" id="id_item-{{ forloop.counter0 }}-DELETE" class="deleteItem btn btn-danger btn-sm">삭제</button>
                        </li>
                    {% endfor %}
                    <!-- 숨겨진 empty_form (템플릿용) -->
                    <li id="empty-form0" class="list-group-item" style="display:none;">
                        <input type="hidden" id="{{ formset.empty_form.id.id_for_label }}" name="{{ formset.empty_form.id.html_name }}" value="">
                        <input type="hidden" id="id_item-__prefix__-use_yn" name="item-__prefix__-use_yn" value="Y">
                        <input type="text" id="id_item-__prefix__-content" name="item-__prefix__-content" class="form-control" placeholder="예: 개인">
                        <button type="button" id="id_item-__prefix__-DELETE" class="deleteItem btn btn-danger btn-sm">삭제</button>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-secondary mb-3" id="addItem">+ 역할 추가</button>
        </div>
        <div class="mb-3">
            <div id="form-container1">
                {% for form in formset %}
                    {% with item=form.instance %}
                    <div class="container text-center">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card" style="width: 18rem;height: 10rem;">
                                    <div class="card-body">
                                        {{ form.content.value|default_if_none:'' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <ul class="list-group mb-3">
                                        {% with detail_formset=detail_formsets|get_item:item.id %}
                                            {{ detail_formset.management_form }}
                                            {% for detail_form in detail_formset %}
                                                <li class="list-group-item" style="display: flex;">
                                                    <input type="hidden" id="{{ detail_form.id.id_for_label }}" name="{{ detail_form.id.html_name }}" value="{{ detail_form.id.value|default_if_none:'' }}">
                                                    <input type="hidden" id="{{ detail_form.use_yn.id_for_label }}" name="{{ detail_form.use_yn.html_name }}" value="Y">
                                                    <input type="text" id="{{ detail_form.content.id_for_label }}" name="{{ detail_form.content.html_name }}" class="form-control" placeholder="예: 개인" style="flex: 1;"  value="{{ detail_form.content.value|default_if_none:'' }}">
                                                    <button type="button" id="form-{{ forloop.counter1 }}-DELETE" class="deleteItem btn btn-danger btn-sm">삭제</button>
                                                </li>
                                            {% endfor %}
                                            <!-- 숨겨진 empty_form (템플릿용) -->
                                            <li id="empty-form1" class="list-group-item" style="display:none;">
                                                <input type="hidden" id="{{ detail_formset.empty_form.id.id_for_label }}" name="{{ detail_formset.empty_form.id.html_name }}" value="">
                                                <input type="hidden" id="id_item-__prefix0__-use_yn" name="item-__prefix0__-use_yn" value="Y">
                                                <input type="text" id="id_item-__prefix0__-content" name="item-__prefix0__-content" class="form-control" placeholder="예: 개인">
                                                <button type="button" id="id_item-__prefix0__-DELETE" class="deleteItem btn btn-danger btn-sm">삭제</button>
                                            </li>
                                        {% endwith %}
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-secondary mb-3" id="addItem1">+ 할일 추가</button>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="mb-3">
            {% if form.instance.file.count > 0 %}
            <ul class="list-group">
                {% for file in form.instance.file.all %}
                <li class="list-group-item">
                    <a href="javascript:void(0)" class="deleteFile text-decoration-none">
                        <img src="{% static 'bootstrap/icon/dash-circle.svg' %}" alt="Download SVG">
                    </a>
                    <a href="{% url 'common:download_file' file.id %}" class="text-decoration-none">
                        <img src="{% static 'bootstrap/icon/download.svg' %}" alt="Download SVG">
                    </a>
                    {{ file.name }}
                    <span class="text-danger small mx-2">{{ file.file.size|div:1024|div:1024 }}MB</span>
                    <input type="hidden" id="attached_file_{{ forloop.counter }}" name="attached_file" value="{{ file.id }}"/>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="file" class="form-control" name="file"  id="file" multiple>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
{% block script %}
    <script>
        tinymce.init({
            license_key: 'gpl',
            selector:'#content',
            height: '500px',
            menubar: false,
            statusbar: false,
            paste_data_images: true,
            plugins: 'image link code lists',
            toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor| fontsizeselect | link | alignleft aligncenter alignright alignjustify | numlist bullist table outdent indent | image',
            images_upload_url: '/common/temp_upload_image/',  // Django의 이미지 업로드 API URL
            convert_urls: false,
            automatic_uploads: true,
        });

        const deleteFile_elements = document.getElementsByClassName("deleteFile");
        Array.from(deleteFile_elements).forEach(function(element){
            element.addEventListener('click', function(){
                var listItem = this.parentElement;
                if (listItem.classList.contains('delete')) {
                    element.querySelector('img').src = "{% static 'bootstrap/icon/dash-circle.svg' %}";
                    listItem.classList.remove('delete');
                    var hiddenInput = listItem.querySelector('[name="delete_attached_file"]');
                    if (hiddenInput) {
                        hiddenInput.setAttribute('name', 'attached_file');
                    }
                }else{
                    element.querySelector('img').src = "{% static 'bootstrap/icon/x-circle.svg' %}";
                    listItem.classList.add('delete');
                    var hiddenInput = listItem.querySelector('[name="attached_file"]');
                    if (hiddenInput) {
                        hiddenInput.setAttribute('name', 'delete_attached_file');
                    }
                }
            });
        });

        const formContainer = document.querySelector("#form-container0 ul");
        const addItemBtn = document.getElementById("addItem");
        const totalForms = document.getElementById("id_item-TOTAL_FORMS");

        addItemBtn.addEventListener("click", function() {
            let formNum = parseInt(totalForms.value);
            let emptyForm = document.getElementById("empty-form");
            const newRow = emptyForm.cloneNode(true); // li 전체 복제
            newRow.removeAttribute("id");             // id 속성 제거
            let newForm = newRow.outerHTML.replace(/__prefix__/g, formNum);

            // 새로운 행 DOM으로 삽입
            const temp = document.createElement("ul");
            temp.innerHTML = newForm;
            const newLiRow = temp.querySelector("li");
            newLiRow.style.display = "flex"; // 보이게
            const deleteItem = newLiRow.querySelector(".deleteItem");
            deleteItem.addEventListener("click", function(event) {
                event.currentTarget.closest("li").remove();
            });

            formContainer.insertBefore(newLiRow, emptyForm);

            // 총 폼 개수 증가
            totalForms.value = formNum + 1;
        });

        const deleteItem_elements = document.getElementsByClassName("deleteItem");
        Array.from(deleteItem_elements).forEach(function(element){
            element.addEventListener('click', function(){
                const row = this.closest("li");
                const useYn = row.querySelector(`input[name$="-use_yn"]`);

                if (row.classList.contains("list-group-item-danger")) {
                    // 삭제 해제
                    useYn.value = "Y";
                    row.classList.remove("list-group-item-danger");
                } else {
                    // 삭제 처리
                    useYn.value = "N";
                    row.classList.add("list-group-item-danger");
                }
            });
        });
    </script>
{% endblock %}