{% extends 'base.html' %}
{% load static %}
{% load todo_filter %}
{% block content %}
<div class="container my-3">
    <!-- 할일 -->
    <h2 class="border-bottom py-2">{{ todo.subject }}</h2>
    <div class="my-3">
        {% if request.user == todo.author %}
            <a href="{% url 'todo:modify' todo.id %}" class="btn btn-sm btn-outline-secondary" >수정</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'todo:delete' todo.id %}">삭제</a>
        {% endif %}
    </div>
    <!-- 할일 상세 -->
    <h5 class="border-bottom my-3 py-2">{{ todo.tododetail_set|filter_useYn:'Y'|length }}개의 한일이 있습니다.</h5>
    {% for todo_detail in todo.tododetail_set|filter_useYn:'Y' %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ todo_detail.content|safe }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ todo_detail.date|date:'Y년 n월 j일 l' }}
                </div>
            </div>
            <div class="my-3">
                {% if todo_detail.file.count > 0 %}
                <ul class="list-group">
                    {% for file in todo_detail.file.all %}
                        <li class="list-group-item">
                            <a href="{% url 'common:download_file' file.id %}" class="text-decoration-none">
                                <img src="{% static 'icon/download.svg' %}" alt="Download SVG">
                            </a>
                            {{ file.name }}
                            <span class="text-danger small mx-2">{{ file.file.size|div:1024|div:1024|floatformat:2 }}MB</span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="my-3">
                {% if request.user == todo_detail.author %}
                    <a href="{% url 'todo:detail_modify' todo_detail.id %}" class="btn btn-sm btn-outline-secondary" >수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'todo:detail_delete' todo_detail.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'todo:detail_create' todo.id %}" method="post" class="my-3" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <input type="date" {% if not user.is_authenticated %}disabled{% endif %} class="form-control" name="date" id="date" value="{{ date|date:'Y-m-d' }}">
            {{ today }}
        </div>
        <div class="mb-3">
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" class="form-control" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="mb-3">
            {% if form.instance.file.count > 0 %}
            <ul class="list-group">
                {% for file in form.instance.file.all %}
                <li class="list-group-item">
                    <a href="javascript:void(0)" class="deleteFile text-decoration-none">
                        <img src="{% static 'icon/dash-circle.svg' %}" alt="Download SVG">
                    </a>
                    <a href="{% url 'common:download_file' file.id %}" class="text-decoration-none">
                        <img src="{% static 'icon/download.svg' %}" alt="Download SVG">
                    </a>
                    {{ file.name }}
                    <span class="text-danger small mx-2">{{ file.file.size|div:1024|div:1024 }}MB</span>
                    <input type="hidden" id="attached_file_{{ forloop.counter }}" name="attached_file" value="{{ file.id }}"/>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="file" class="form-control" name="file"  id="file" multiple>
        </div>
        <input type="submit" value="한일등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.tiny.cloud/1/c9h82kl7bvgxzpopk85v2c9wu1nyqyev8vrhl9ll2a7gdxfg/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(confirm("정말로 삭제하시겠습니까?")){
                location.href = this.dataset.uri;
            }
        });
    });

    tinymce.init({
        selector:'#content',
        height: '500px',
        menubar: false,
        statusbar: false,
        paste_data_images: true,
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor colorpicker textpattern codesample',
        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor| fontsizeselect | link | alignleft aligncenter alignright alignjustify | numlist bullist table outdent indent | removeformat',
        toolbar2: 'image media | charmap emoticons'
    });

    const deleteFile_elements = document.getElementsByClassName("deleteFile");
    Array.from(deleteFile_elements).forEach(function(element){
        element.addEventListener('click', function(){
            var listItem = this.parentElement;
            if (listItem.classList.contains('delete')) {
                element.querySelector('img').src = "{% static 'icon/dash-circle.svg' %}";
                listItem.classList.remove('delete');
                var hiddenInput = listItem.querySelector('[name="delete_attached_file"]');
                if (hiddenInput) {
                    hiddenInput.setAttribute('name', 'attached_file');
                }
            }else{
                element.querySelector('img').src = "{% static 'icon/x-circle.svg' %}";
                listItem.classList.add('delete');
                var hiddenInput = listItem.querySelector('[name="attached_file"]');
                if (hiddenInput) {
                    hiddenInput.setAttribute('name', 'delete_attached_file');
                }
            }
        });
    });
</script>
{% endblock %}