{% extends 'base.html' %}
{% load todo_filter %}
{% block content %}
{% load mptt_tags %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th style="width: 10px;"></th>
            <th>할일</th>
        </tr>
        </thead>
        <tbody>
            {% if todo_tree %}
                {% recursetree todo_tree %}
                    {% if not node.is_leaf_node %}
                        <tr class="text-center" data-level="{{ node.level }}" data-pk="{{ node.id }}" data-pid="{{ node.parent_id|default_if_none:'' }}" draggable="true">
                            <td class="text-start">
                                {% if node.children.exists > 0 %}
                                <div class="tree-node children" data-pk="{{ node.id }}" data-level="{{ node.level }}"></div>
                                {% endif %}
                            </td>
                            <td class="subject text-start">
                                <div style="padding-left:{{ node.level|mul:20 }}px;">
                                    <a href="{% url 'todo:detail' node.id %}" class="d-inline-block text-truncate" style="max-width: 80%;">
                                        {% if node.check_yn == 'Y' %}
                                            <del>{{ node.subject }}</del>
                                        {% else %}
                                            {{ node.subject }}
                                        {% endif %}
                                    </a>
                                    {% if node.tododetail_set|filter_useYn:'Y'|length > 0 %}
                                        <span class="text-danger small mx-2">{{ node.tododetail_set|filter_useYn:'Y'|length }}</span>
                                    {% endif %}
                                    {% if node.check_yn == 'Y' %}
                                        <a href="{% url 'todo:check' node.id 'N' %}?check_yn={{ check_yn }}" class="btn btn-outline-primary float-end">취소</a>
                                    {% else %}
                                        <a href="{% url 'todo:check' node.id 'Y' %}?check_yn={{ check_yn }}" class="btn btn-outline-primary float-end">확인</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {{ children }}
                    {% else %}
                        <tr class="text-center" data-level="{{ node.level }}" data-pk="{{ node.id }}" data-pid="{{ node.parent_id|default_if_none:'' }}" draggable="true">
                            <td class="text-start">
                                {% if node.children.exists %}
                                <div class="tree-node children" data-pk="{{ node.id }}" data-level="{{ node.level }}" data-url=""></div>
                                {% endif %}
                            </td>
                            <td class="subject text-start">
                                <div style="padding-left:{{ node.level|mul:20 }}px;">
                                    <a href="{% url 'todo:detail' node.id %}" class="d-inline-block text-truncate" style="max-width: 80%;">
                                        {% if node.check_yn == 'Y' %}
                                            <del>{{ node.subject }}</del>
                                        {% else %}
                                            {{ node.subject }}
                                        {% endif %}
                                    </a>
                                    {% if node.tododetail_set|filter_useYn:'Y'|length > 0 %}
                                        <span class="text-danger small mx-2">{{ node.tododetail_set|filter_useYn:'Y'|length }}</span>
                                    {% endif %}
                                    {% if node.check_yn == 'Y' %}
                                        <a href="{% url 'todo:check' node.id 'N' %}?check_yn={{ check_yn }}" class="btn btn-outline-primary float-end">취소</a>
                                    {% else %}
                                        <a href="{% url 'todo:check' node.id 'Y' %}?check_yn={{ check_yn }}" class="btn btn-outline-primary float-end">확인</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endrecursetree %}
            {% else %}
                <tr>
                    <td colspan="2">할일이 없습니다.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'todo:create' %}?check_yn={{ check_yn }}" class="btn btn-primary">할일등록</a>
</div>
<form id="todoForm" method="get" action="{% url 'todo:dragdrop' %}">
    <input type="hidden" id="target_id" name="target_id"/>
    <input type="hidden" id="id" name="id"/>
    <input type="hidden" id="check_yn" name="check_yn" value="{{ check_yn }}"/>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
    const tree_node_elements = document.getElementsByClassName("tree-node");
    Array.from(tree_node_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(element.classList.contains('closed')){
                doToggle(this.dataset.pk, true);
                element.classList.remove('closed');
            }else{
                doToggle(this.dataset.pk, false);
                element.classList.add('closed');
            }
        });
    });

    function doToggle(id, show) {
        if(id){
            var targetRows = document.querySelectorAll('tr[data-pid="' + id + '"]');
            targetRows.forEach(function(row) {
                var dataPkValue = row.getAttribute('data-pk');
                doToggle(dataPkValue, show);
                if(show){
                    row.style.display = 'table-row';
                }else{
                    row.style.display = 'none';
                }
            });
        }
    }

    var dragged;
    document.addEventListener('dragstart', function(event) {
        // 드래그 시작 시 데이터 전달
        event.dataTransfer.setData('text/plain', null);
        // 드래그 시작 시 해당 요소를 저장
        var targetTR = findParentByTagName(event.target, 'TR');
        if (targetTR) {
            dragged = targetTR;
            console.log('dragstart');
        }
    });

    document.addEventListener('dragover', function(event) {
        // 드래그 중인 요소가 올바른 타겟 위에 있을 때
        // 부모인 TR을 찾아 class를 추가하거나 제거
        var targetTR = findParentByTagName(event.target, 'TR');
        if (targetTR) {
            event.preventDefault();
            addDragLineDivToTd(targetTR, targetTR.dataset.level);
            console.log('dragover');
        }
    });

    document.addEventListener('dragleave', function(event) {
        // 드래그 중인 요소가 떠날 때
        // 부모인 TR을 찾아 class를 제거
        var targetTR = findParentByTagName(event.target, 'TR');
        if (targetTR) {
            // 이전에 추가된 drag-line 제거
            const existingDragLineDiv = document.querySelector('div.drag-line');
            if (existingDragLineDiv) {
                existingDragLineDiv.remove();
            }
        }
    });

    document.addEventListener('drop', function(event) {
        // 드롭 시 이동한 행을 목적지로 삽입
        // 부모인 TR을 찾아 class를 제거
        var targetTR = findParentByTagName(event.target, 'TR');
        if (targetTR) {
            event.preventDefault();
            // 이전에 추가된 drag-line 제거
            const existingDragLineDiv = document.querySelector('div.drag-line');
            if (existingDragLineDiv) {
                existingDragLineDiv.remove();
            }

            // 드롭 위치에 따라 목적지 요소 앞 또는 뒤에 삽입
            var afterNode = targetTR.nextSibling;
            targetTR.parentNode.insertBefore(dragged, afterNode);

            document.getElementById('target_id').value = targetTR.getAttribute('data-pk');
            document.getElementById('id').value = dragged.getAttribute('data-pk');
            document.getElementById('todoForm').submit();
        }
    });

    document.addEventListener('dragend', function() {
        console.log('dragend');
    });

    // 부모 노드 중 특정 태그명을 찾아 반환하는 함수
    function findParentByTagName(element, tagName) {
        while (element && element.tagName !== tagName) {
            element = element.parentNode;
        }
        return element;
    }

    function addDragLineDivToTd(elementTR, level){
        // td 태그 가져오기
        const tdElement = elementTR.querySelector('td.subject'); // 혹은 다른 방법으로 td 엘리먼트를 가져옴

        // 이미 drag-line 클래스를 가진 div가 있는지 확인
        const existingDragLineDiv = tdElement.querySelector('div.drag-line');

        // 이미 존재하는 경우 함수 종료
        if (existingDragLineDiv) {
            console.log('이미 drag-line 클래스를 가진 div가 존재합니다.');
            return;
        }

        // 새로운 div 엘리먼트 생성
        const newDiv = document.createElement('div');
        newDiv.className = 'drag-line';
        newDiv.style.marginLeft = level * 20 + 'px';

        // span 엘리먼트 생성
        const spanElement = document.createElement('span');
        //spanElement.textContent = 'move node before node';
        spanElement.textContent = 'move node to child position';

        // span을 div 안에 추가
        newDiv.appendChild(spanElement);

        // td 안에 있는 div 뒤에 새로운 div 추가
        const existingDiv = tdElement.querySelector('div'); // 적절한 방법으로 td 내의 div 엘리먼트를 가져옴
        existingDiv.parentNode.insertBefore(newDiv, existingDiv.nextSibling);
    }
</script>
{% endblock %}