{% extends 'base.html' %}
{% block content %}
{% load mptt_tags %}
<div class="container my-3">
    <div class="card mb-3">
        <ul class="list-group list-group-flush">
            {% if todo_tree %}
                {% recursetree todo_tree %}
                    {% if not node.is_leaf_node %}
                        <li class="list-group-item">
                            <a href="{% url 'todo:todo_detail' node.id %}">{{ node.subject }}</a>
                            {% if node.tododetail_set.count > 0 %}
                            <span class="text-danger small mx-2">{{ node.tododetail_set.count }}</span>
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                {{ children }}
                            </ul>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <a href="{% url 'todo:todo_detail' node.id %}">{{ node.subject }}</a>
                        </li>
                    {% endif %}
                {% endrecursetree %}
            {% else %}
                <li class="list-group-item">
                    <a>할일이 없습니다.</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <a href="{% url 'todo:todo_create' %}" class="btn btn-primary">할일등록</a>
</div>
{% endblock %}