textarea{
    width: 100%;
}

input[type=submit]{
    margin-top: 10px;
}
.tree-node {
    cursor: pointer;
}
.tree-node.children {
    background-image: url(/static/icon/chevron-down.svg);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.tree-node.closed {
    background-image: url(/static/icon/chevron-right.svg);
    width: 16px;
    height: 16px;
}
.drag-handle {
    cursor: move;
}
.highlight {
    border-bottom: 2px solid red;
}
.drag-line{
    border-bottom: 1px solid red;
    color: red;
    font-size: 12px;
}