textarea{
    width: 100%;
}

input[type=submit]{
    margin-top: 10px;
}
.tree-node {
    cursor: pointer;
}
.tree-node.children {
    background-image: url(/static/bootstrap/icon/chevron-down.svg);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.tree-node.closed {
    background-image: url(/static/bootstrap/icon/chevron-right.svg);
    width: 16px;
    height: 16px;
}
.drag-handle {
    cursor: move;
}
.highlight {
    border-bottom: 2px solid red;
}
.drag-line{
    border-bottom: 1px solid red;
    color: red;
    font-size: 12px;
}
.list-group-item.delete{
    color: red;
}
.fixed-button{
    position: fixed;
    top: 50%;
    right: 0;
    left: 80%;
    z-index: 1030;
}